<header class="c-header header">
  <div class="c-header-nav ml-2">
    <%= image_tag 'icon.png', :width => '75px' %>
  </div>
</header>

<div class="c-body">
  <main class="c-main">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-lg-7">
          <div class="card ml-4">
            <div class="card-header">対戦の仕方</div>
            <div class="card-body">
              <ol>
                <li>
                  まず対戦相手を決めます
                  <ul>
                    <li>対戦相手はTwitterなどのSNSで見つけましょう</li>
                    <li>ネット上のトラブルには充分気をつけてください</li>
                  </ul>
                </li>
                <li>
                  オーナー役(セッションを作成する人)とゲスト役(作成されたセッションに参加する人)に分かれます
                </li>
                <li>
                  オーナー役の人のやること
                  <ol>
                    <li>ゲスト役の人のユーザーIDを聞きます</li>
                    <li>「自分でセッションを作成する」ボタンを押下し、セッションを作成します</li>
                    <li>セッション名にわかりやすい名前を入れ、対戦するユーザーのIDにゲスト役の人のIDを入力します</li>
                    <li>5. の処理を実行してください</li>
                  </ol>
                </li>
                <li>
                  ゲスト役の人のやること
                  <ol>
                    <li>オーナー役がセッションを作成するのを待ちます</li>
                    <li>5. の処理を実行してください</li>
                  </ol>
                </li>
                <li>
                  アプリにネット対戦情報の設定、対戦
                  <ol>
                    <li>対象のセッションからRouter Addr, Client ID, Client Keyを確認します</li>
                    <li>アプリのdata/config.yamlファイルに設定します</li>
                    <li>アプリを起動し、「ネット対戦」を選択します</li>
                  </ol>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <!-- ユーザー情報 -->
        <div class="col-5 text-right">
          <div class="card" style="width: 370px;">
            <div class="card-body ml-2">
              <div class="row mb-2">
                <div class="char-icon"><%= @user.name[0].upcase %></div>
              </div>
              <div class="row mb-2 text-left">
                <table>
                  <tbody>
                    <tr>
                      <td width="40px">名前</td>
                      <td><%= @user.name %></td>
                    </tr>
                    <tr>
                      <td>ID</td>
                      <td><%= @user.user_id %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row mb-2">
                <%= button_to "プロフィールの編集", user_detail_edit_path, {method: :get, class: "btn btn-outline-primary"} %>
              </div>
              <div class="row mb-2">
                <a class="btn btn-outline-primary"
                  href="https://github.com/sh-miyoshi/go-rockmanexe/releases/download/v0.7/project.zip"
                  role="button">最新版のアプリを入手</a>
              </div>
              <div class="row mb-2">
                <%= button_to "ログアウト", auth_logout_path, {method: :get, class: "btn btn-outline-danger"} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 対戦する -->
      <div class="row-lg-10">
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-between">
              <div class="ml-3 h4">対戦する</div>
              <!--<button class="btn btn-secondary mr-3">更新</button>-->
            </div>
          </div>
          <div class="card-body">
            <% @guest_sessions&.each do |s| %>
            <div class="card border-dark mb-3 mr-2 ml-2">
              <div class="card-header"><%= s.session_name %></div>
              <div class="card-body">
                <div class="row mb-2">
                  <label for="router_addr" class="col-sm-2 col-form-label">
                    Router Addr
                  </label>
                  <div class="col-md-5">
                    <%= text_field_tag 'router_addr', s.router_addr, class: 'form-control read-text-dark', readonly: true %>
                  </div>
                </div>
                <div class="row mb-2">
                  <label for="client_id" class="col-sm-2 col-form-label">
                    Client ID
                  </label>
                  <div class="col-md-5">
                    <%= text_field_tag 'client_id', s.guest_client_id, class: 'form-control read-text-dark', readonly: true %>
                  </div>
                </div>
                <div class="row mb-2">
                  <label for="client_key" class="col-sm-2 col-form-label">
                    Client Key
                  </label>
                  <div class="col-md-5">
                    <%= text_field_tag 'client_key', s.guest_client_key, class: 'form-control read-text-dark', readonly: true %>
                  </div>
                </div>
                <div class="row mb-2">
                  <label for="owner" class="col-sm-2 col-form-label">
                    対戦相手
                  </label>
                  <div class="col-md-5">
                    <%= text_field_tag 'owner', s.owner_name, class: 'form-control read-text-dark', readonly: true %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>

            <% if @own_session.present? %>
            <div class="card text-white bg-dark mb-3 mr-2 ml-2">
              <div class="card-header"><%= @own_session.session_name %></div>
              <div class="card-body">
                <div class="row mb-2">
                  <label for="router_addr" class="col-sm-2 col-form-label">
                    Router Addr
                  </label>
                  <div class="col-md-5">
                    <%= text_field_tag 'router_addr', @own_session.router_addr, class: 'form-control read-text-dark', readonly: true %>
                  </div>
                </div>
                <div class="row mb-2">
                  <label for="client_id" class="col-sm-2 col-form-label">
                    Client ID
                  </label>
                  <div class="col-md-5">
                    <%= text_field_tag 'client_id', @own_session.owner_client_id, class: 'form-control read-text-dark', readonly: true %>
                  </div>
                </div>
                <div class="row mb-2">
                  <label for="client_key" class="col-sm-2 col-form-label">
                    Client Key
                  </label>
                  <div class="col-md-5">
                    <%= text_field_tag 'client_key', @own_session.owner_client_key, class: 'form-control read-text-dark', readonly: true %>
                  </div>
                </div>
                <div class="row mb-2">
                  <label for="guest" class="col-sm-2 col-form-label">
                    対戦相手
                  </label>
                  <div class="col-md-5">
                    <%= text_field_tag 'guest', @own_session.guest_name, class: 'form-control read-text-dark', readonly: true %>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-5">
                    <%= button_to "削除", session_destroy_path, {method: :delete, class: "btn btn-danger", params: {id: @own_session.id}} %>
                  </div>
                </div>
              </div>
            </div>
            <% else %>
            <%= button_to "自分でセッションを作成", session_new_path, {method: :get, class: "btn btn-primary"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
