<header class="c-header header">
  <div class="c-header-nav ml-2">
    <%= image_tag 'icon.png', :width => '75px' %>
  </div>
</header>

<div class="c-body">
  <main class="c-main">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="card col-md-7" style="padding: 0">
          <div class="card-header">
            <div class="m-1 h4">新しいセッションの作成</div>
          </div>
          <div class="card-body">
            <%= form_with url: sessions_path do |f| %>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label">セッション名</label>
              <div class="col-sm-8">
                <%= f.text_field :name, class: "form-control" %>
                <small>* 3 ~ 20字</small>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label">対戦するユーザーのID</label>
              <div class="col-sm-8">
                <%= f.text_field :guest_id, class: "form-control" %>
                <small>* 名前ではなくIDを入力してください</small>
              </div>
            </div>
            <% if flash[:danger].present? %>
            <div class="alert alert-danger">
              <%== flash[:danger] %>
            </div>
            <% end %>
            <div class="text-center ml-2">
              <%= f.submit "作成", class: "btn btn-outline-primary" %>
              <%= link_to "キャンセル", user_path(@current_user.user_id), class: "btn btn-link mr-2" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
  </main>
</div>
